name: Build and Release

on:
  push:
    branches:
      - main
  release:
    types: [published]

jobs:
  build:
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        include:
          - target: aarch64-apple-darwin
            runs-on: macos-latest
          # TODO: figure out how to build project on Windows
          # - target: x86_64-pc-windows-gnu
          #   runs-on: windows-latest
          - target: x86_64-unknown-linux-gnu
            runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          override: true

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose --release --target ${{ matrix.target }}

      - name: Strip binaries (Linux)
        if: matrix.target == 'x86_64-unknown-linux-gnu'
        run: strip target/${{ matrix.target }}/release/workingon

      - name: Rename binaries (Windows)
        if: matrix.target == 'x86_64-pc-windows-gnu'
        run: rename target/${{ matrix.target }}/release/${{ github.event.repository }}.exe ${{ github.event.repository }}.exe

      - name: Create Artifacts Directory
        run: mkdir artifacts

      - name: Copy binaries to Artifacts Directory
        run: |
          if [[ "${{ matrix.target }}" == "aarch64-apple-darwin" ]]; then
            cp target/${{ matrix.target }}/release/workingon artifacts/workingon-macos-arm64
          elif [[ "${{ matrix.target }}" == "x86_64-pc-windows-gnu" ]]; then
            cp target/${{ matrix.target }}/release/workingon.exe artifacts/workingon-windows-x86.exe
          else
            cp target/${{ matrix.target }}/release/workingon artifacts/workingon-linux-x86
          fi

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ matrix.target }}
          path: artifacts

  release:
    needs: build
    runs-on: ubuntu-latest
    if: github.event_name == 'release'

    steps:
      - uses: actions/checkout@v4

      - uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Prepare binaries
        run: |
          mkdir binaries
          mv artifacts/*/* binaries/

      - name: Upload individual binaries to Release
        run: |
          for binary in binaries/*; do
            gh release upload ${{ github.event.release.tag_name }} "$binary" --clobber
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
